@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!

// @! CUSTOM UTILITY CSS
img[alt=block] {
	display: block;
}

// Left sidebar row mode to allow smaller component stacks
.page > #quartz-body .sidebar.left {
	flex-direction: row;
	flex-wrap: wrap;
}
.sidebar.left > .explorer {
	flex: 100%;
}
@media (min-width: calc($fullPageWidth + 1px)) {
	.darkmode {
		margin: 0;
	}
}
// Style darkmode to be like searchbar
.darkmode {
	background-color: var(--lightgray);
	border-radius: 4px;
	width: 2rem;
	height: 2rem;
	& svg {
		padding: calc(1rem - 10px); // (.darkmode-Width / 2) - (svg.Width /2)
		top: unset;
	}
}
// Searchbar mobile styling style
.search {
	flex-grow: 1;
	max-width: unset;
}
@media (max-width: $fullPageWidth) {
	.search {
		max-width: 6rem;
	}
	.search > #search-icon {
		& > p {
			display: none;
		}
		& > div {
			flex-grow: unset;
		}
		& > svg {
			height: 2rem;
			margin: auto;
		}
	}
}
// Separate title and other component on smaller mobile screen, also centers it
@media (max-width: $mobileBreakpoint) {
	.page > #quartz-body .sidebar.left {
		flex-wrap: wrap;
	}
	.sidebar.left > .page-title + .spacer {
		flex: 100%;
		margin-top: 1rem;
	}
	.sidebar.left {
		justify-content: center;
	}
}
// Remove padding on sidebar for smaller screen, uses #quartz-root for higher specificity
@media (max-width: $mobileBreakpoint) {
	#quartz-root > #quartz-body .sidebar.left {
		padding: 0;
	}
	#quartz-root > #quartz-body .sidebar.right {
		padding: 0 1rem;
		> * {
			min-width: calc(240px - 2rem);
		}
	}
}
// Dark mode custom, use config.ts. It's here too just for reminder tehee
// :root[saved-theme=dark] {
    // --light: #0A0C10 !important; // Background
    // --lightgray: #393639; // Element like search
    // --gray: #646464; // Not sure
    // --darkgray: #E7E6EB; // Text, paragraph
    // --dark: #E7E6EB !important; // Text, header
    // --secondary: #78BB52 !important; // Links
    // --tertiary: #89f86f !important; // Link hover
    // --highlight: #8f9fa926; // Not sure
// }

// Codeblock from Obsidian to be used as "notes". Wrapped and no copy button
pre > code {
	text-wrap: wrap;
}
pre > .clipboard-button {
	display: none;
}
// Make ToC easier to click on whitespace
#explorer-content a {
	display: block;
}

// Reduce gap between modules
.page > #quartz-body .sidebar {
	gap: 1.4rem;
	padding: 0 3rem;
}
// Modify explorer header to be unhideable
button#explorer {
	pointer-events: none;
}
// Increase Explorer max-height on desktop
@media (min-width: calc($fullPageWidth + 1px)) {
	ul.overflow, ol.overflow {
		max-height: calc(100vh - 19rem);
	}
}
// Fix Explorer fading mask thingie if on right sidebar
@media (max-width: $fullPageWidth) {
	.sidebar.right ul.overflow::after,
	.sidebar.right ol.overflow::after {
		display: inline-block;
		position: sticky;
	}
}
// "I should learn how to code but I don't wanna" CSS hack to hide folder content if it has index.md
.page .center > .popover-hint:has(> article > p:nth-child(2):not(:empty)) > .page-listing {
	display: none;
}
.preview-inner:has(> article > p:nth-child(2):not(:empty)) > .page-listing {
	display: none;
}
.popover .popover-hint:has(> article > p:nth-child(2):not(:empty)) > .page-listing {
	display: none;
}

// Reduce Popover content margin
.popover .article-title {
	margin-top: .5rem;
}
.popover .popover-hint > p:last-child {
	margin-bottom: 0;
}