@use "./base.scss";

// put your custom CSS here!

// Codeblock from Obsidian to be used as "notes". Wrapped and no copy button
pre > code {
	text-wrap: wrap;
}
pre > .clipboard-button {
	display: none;
}
// Make ToC easier to click on whitespace
#explorer-content a {
	display: block;
}