@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!

// @! CUSTOM UTILITY CSS
img[alt=block] {
	display: block;
}

// Left sidebar row mode to allow smaller component stacks
.page > #quartz-body .sidebar.left {
	flex-direction: row;
	flex-wrap: wrap;
}
//.sidebar.left > .explorer {
//	flex: 100%;
//}
@media (min-width: calc($pageWidth + 1px)) {
	.darkmode {
		margin: 0;
	}
}
// Style darkmode to be like searchbar
.darkmode {
	background-color: var(--lightgray);
	border-radius: 4px;
	width: 2rem;
	height: 2rem;
	& svg {
		padding: 0 calc(1rem - 10px); // (.darkmode-Width / 2) - (svg.Width /2)
		// top: unset;
	}
}
// Hamburger menu style
.explorer #mobile-explorer {
	margin-right: 12px;
}
// Searchbar mobile styling style
.search {
	flex-grow: 1;
	max-width: unset;
}
@media (max-width: $pageWidth) {
	.search {
		max-width: 6rem;
		min-width: 2.5rem;
	}
	.search > #search-button {
		& > p {
			display: none;
		}
		& > div {
			flex-grow: unset;
		}
		& > svg {
			height: 2rem;
			margin: auto;
		}
	}
}
// Not needed on newer update
// Remove padding on sidebar for smaller screen, uses #quartz-root for higher specificity
// @media (max-width: $mobileBreakpoint) {
// 	#quartz-root > #quartz-body .sidebar.left {
// 		padding: 0;
// 	}
// 	#quartz-root > #quartz-body .sidebar.right {
// 		padding: 0 1rem;
// 		> * {
// 			min-width: calc(240px - 2rem);
// 		}
// 	}
// }
// Dark mode custom, use config.ts. It's here too just for reminder tehee
// :root[saved-theme=dark] {
    // --light: #0A0C10 !important; // Background
    // --lightgray: #393639; // Element like search
    // --gray: #646464; // Not sure
    // --darkgray: #E7E6EB; // Text, paragraph
    // --dark: #E7E6EB !important; // Text, header
    // --secondary: #78BB52 !important; // Links
    // --tertiary: #89f86f !important; // Link hover
    // --highlight: #8f9fa926; // Not sure
// }

// Codeblock from Obsidian to be used as "notes". Wrapped and no copy button
pre > code {
	text-wrap: wrap;
}
pre > .clipboard-button {
	display: none;
}
// Make ToC easier to click on whitespace
#explorer-content a {
	display: block;
}

// Reduce gap between modules
.page > #quartz-body .sidebar {
	gap: 1.4rem;
	// padding: 0 3rem;
}
// Modify explorer header to be unhideable
button#desktop-explorer {
	pointer-events: none;
}
// Increase Explorer max-height on desktop
@media (min-width: calc($pageWidth + 1px)) {
	ul.overflow, ol.overflow {
		max-height: calc(100vh - 19rem);
	}
}
// Fix Explorer fading mask thingie if on right sidebar
@media (max-width: $pageWidth) {
	.sidebar.right ul.overflow::after,
	.sidebar.right ol.overflow::after {
		display: inline-block;
		position: sticky;
	}
}
// "I should learn how to code but I don't wanna" CSS hack to hide folder content if it has index.md
.hide-folder-content {
	display: none;
}
.popover-hint:has(> article > .hide-folder-content) > .page-listing,
.preview-inner:has(> article > .hide-folder-content) > .page-listing {
	display: none;
}

// Folder content style
.page-listing ul.section-ul {
	list-style: "♦";
	padding-left: 1rem;
	margin-top: 0;
}
.page-listing li.section-li > .section {
	margin-left: .5rem
}

// Reduce Popover content spacing
.popover .article-title {
	margin-top: .5rem;
}
.popover .popover-inner {
	padding-bottom: 0;
}
.breadcrumb-container {
	margin-top: 1rem;
}
.popover-hint h1 {
	margin-top: 1rem;
}

// Bottom border on content if no side-content
@media (max-width: $pageWidth) {
	#quartz-body > .center {
		border-bottom: 1px solid var(--lightgray);
		padding-bottom: 1rem;
	}
}